<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.songeasy.android" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fileactivity.ActivityFileLoadBrowser" >
        </activity>
        <activity android:name=".fileactivity.ActivityFileSaveBrowser" >
        </activity>
        <activity android:name=".fileactivity.ActivityFileNew" >
        </activity>
        <activity android:name=".ActivityEditPreferences" >
        </activity>
        <activity android:name=".ActivityHelp" >
        </activity>
        <activity android:name=".ActivityPurchase"></activity>
    </application>

</manifest>
